<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <p *ngFor="let server of loadedServers$">{{ server.servername }} ({{ server.id }})</p>
      <!-- <edc-server-list></edc-server-list>
      <a mat-mini-fab matTooltip="Link" [routerLink]="['new']" aria-label="Create a new server">
        <mat-icon>add_circle</mat-icon>
      </a> -->
    </div>
    <div class="col-md-12">
      <button class="btn btn-info" [routerLink]="['new']">Create Server</button>
    </div>
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
