# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# TypeScript incremental compilation
*.tsbuildinfo

# dependencies
node_modules

# Cypress artifacts
cypress/screenshots
cypress/videos
cypress/downloads

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - JetBrains
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/prettier.xml
!.idea/nx-angular-config.xml
!.idea/.gitignore

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
.nyc_output
yarn-error.log
testem.log
/typings

# environment variables
.env
.env.local
.env.*.local

# experiments / temporary workspace
experiments

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
.claude/settings.local.json
.claude/**/*.local.*

.angular

migrations.json
