<mat-card appearance="outlined" class="server-detail-card mat-elevation-z1">
  <mat-card-header>
    <mat-card-title>
      {{ server.embyServerName }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>IP Address: {{ server.embyServerIP }}</p>
    <p>API Key: {{ server.embyApiKey }}</p>
    <mat-divider></mat-divider>
    <mat-list>
      <p>Assigned Server IDs from Emby Installations:</p>
      <mat-list-item *ngFor="let embyServerId of server.embyServerId">
        <div matListItemTitle><input type="checkbox" [checked]="embyServerId.active" disabled /> {{ embyServerId.id }}</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <!-- TODO: Combine these button into a menu 'Manage Server'
      <button mat-raised-button color="primary" [routerLink]="['edit']">Edit</button>
    <button mat-raised-button class="button-separator" color="warn" (click)="onDeleteServer()">Delete</button>

    <button mat-raised-button class="button-separator" [disabled]="isActiveServer"
      (click)="onActivateServer()">Activate</button>
    <button mat-raised-button class="button-separator" [disabled]="!isActiveServer"
      (click)="onDeactivateServer()">Deactivate</button> -->
    <button mat-raised-button class="button-separator" [routerLink]="['/users']" [queryParams]="{ serverId: server.serverId }">
      <mat-icon>person</mat-icon>Users
    </button>
    <button mat-raised-button class="button-separator" [routerLink]="['/mediaitems']" [queryParams]="{ serverId: server.serverId }">
      <mat-icon>movie</mat-icon>Media Items
    </button>
  </mat-card-actions>
</mat-card>
