<mat-card appearance="outlined" class="user-detail-card mat-elevation-z1">
  <mat-card-header>
    <mat-card-title>
      {{ user.embyUserName }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Name: {{ user.embyUserName }}</p>
    <mat-divider></mat-divider>
    <p>Internal IDs (usable for REST accesses):</p>
    <p>Server ID: {{ user.serverId }}</p>
    <p>Emby Server ID: {{ user.embyServerId }}</p>
    <p>Emby User ID: {{ user.embyUserId }}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary">Backup WatchedStates</button>
    <button mat-raised-button color="warn">Recover WatchedStates</button>
  </mat-card-actions>
</mat-card>
