<div class="content">
  <!-- <div [formGroup]="form">
    <mat-form-field floatLabel="auto">
      <input matInput placeholder="Server Name" formControlName="name" #name />

      <mat-hint align="end"> {{ name.value.length }} / 60 </mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field floatLabel="auto">
      <input matInput placeholder="IP Address" formControlName="ip" #ip />
      <mat-hint align="end"> {{ ip.value.length }} / 15 </mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field floatLabel="auto">
      <input matInput placeholder="API Key" formControlName="apiKey" #apiKey />
    </mat-form-field>
  </div> -->

  <p>das soll das create UI sein....</p>

  <button mat-raised-button color="accent" (click)="onCreateServer()">Create Server</button>
</div>
